<div class="main-app-container bg-default-gradient">
  <div *ngIf="false" class="sidebarMenu">
    <ul>
      <li>
        <a routerLink="/dashboard/designer" (click)="toggleSidebar(null)">
          <mat-icon svgIcon="icon-dashboard"></mat-icon>
          <span>Create New Dashboard</span>
        </a>
      </li>

      <li class="p-0">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header
              ><mat-panel-title
                >Load Dashboard</mat-panel-title
              ></mat-expansion-panel-header
            >
            <ul>
              <ng-container *ngFor="let item of savedDashLayout">
                <li>
                  <a (click)="loadDashboard(item)">
                    <span>{{ item.layoutName }}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
    </ul>
  </div>

  <div class="app-main-wrapper col relative" style="z-index: 0">
    <!-- <section class="col-auto">
      <app-main-header
        (toggleSidebar)="toggleSidebar($event)"
      ></app-main-header>
    </section> -->
    <section class="col app-body">
      <router-outlet></router-outlet>
    </section>
    <!-- <section class="col-auto">
      <app-main-footer></app-main-footer>
    </section> -->
  </div>
</div>
