@font-face {
  font-family: 'ADPortsGroup-Light';
  src: url('../fonts/ADPortsGroup-Light.woff2') format('woff2'),
    url('../fonts/ADPortsGroup-Light.woff') format('woff');
}

@font-face {
  font-family: 'ADPortsGroup-Regular';
  src: url('../fonts/ADPortsGroup-Regular.woff2') format('woff2'),
    url('../fonts/ADPortsGroup-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ADPortsGroup-Bold';
  src: url('../fonts/ADPortsGroup-Bold.woff2') format('woff2'),
    url('../fonts/ADPortsGroup-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Droid-Arabic-Kufi';
  src: url('../fonts/Droid-Arabic-Kufi.woff') format('woff');
}

@font-face {
  font-family: 'ADPortsGroup-Bold';
  src: url('../fonts/ADPortsGroup-Bold.woff2') format('woff2'),
    url('../fonts/ADPortsGroup-Regular.woff') format('woff');
}
