registry=https://registry.npmjs.org/
# registry=http://localhost:4873/
strict-ssl=false

# update registry config in local
# To npm -->  npm config set registry https://registry.npmjs.org/
# To verdaccio -->  npm config set registry http://localhost:4873/
