<header class="header bg-white inheritSize">
  <div class="header__main inheritSize">
    <div class="container-fluid container--xl mx-1 inheritSize p-0 m-0">
      <div
        class="row p-0 align-items-center inheritSize navbar navbar-expand-xl"
      >
        <div
          class="col-6 inheritSize p-0 col-lg-3 col-xl-3 d-flex align-items-center"
        >
          <a class="inheritSize buttons-wrap d-flex">
            <mat-icon
              (click)="opensidebar()"
              svgIcon="burger-menu"
              aria-hidden="false"
            ></mat-icon>

            <img class="logo inheritSize" src="assets/images/logo/logo.svg"
          /></a>
        </div>
        <div class="col-6">
<button class="btn btn-primary"> TEST</button>

        </div>
      </div>
    </div>
  </div>
</header>
