import { Injectable } from '@angular/core';
import { GridLayOutInstance } from 'ngx-dashboard-designer';
import { layoutDefaultData } from '../data-provider/<%=name%>-layout-data';

@Injectable({ providedIn: 'root' })
export class <%=classify(name)%>Service {
  public layoutData: GridLayOutInstance = layoutDefaultData;

  constructor() {}

  getLayoutData(): GridLayOutInstance {
    return this.layoutData;
  }
}
