::ng-deep {
  .svgBgIcon {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:after {
      content: '';
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .widget_tab_icon {
    &:after {
      background-image: url(/assets/dashboard-designer/images/widget-layout-ico.svg);
    }
  }

  .layout_tab_icon {
    &:after {
      background-image: url(/assets/dashboard-designer/images/layout-svg-ico.svg);
    }
  }

  .layout_settings_icon {
    &:after {
      background-image: url(/assets/dashboard-designer/images/settings-ico.svg);
    }
  }

  .save_icon {
    &:after {
      background-image: url(/assets/dashboard-designer/images/diskette-ico.svg);
    }
  }

  .menu_main_icon {
    &:after {
      background-image: url(/assets/dashboard-designer/images/menu-svgr-ico.svg);
    }
  }

  .iconSize32 {
    width: 32px !important;
    height: 32px !important;
  }
  .iconSize24 {
    width: 24px !important;
    height: 24px !important;
  }
  .iconSize16 {
    width: 16px !important;
    height: 16px !important;
  }

  @mixin layoutIcon($columns: 21) {
    @for $i from 1 through $columns {
      .layoutIcon-#{$i} {
        &:after {
          background-image: url(/assets/dashboard-designer/images/layout-icons/layout-#{$i}.svg);
        }
      }
    }
  }

  .delete-icon {
    &:after {
      background-image: url(/assets/dashboard-designer/images/delete-icon.svg);
    }
  }
  @include layoutIcon;
}
