@import './variables';

.dashDesignerModal {
  padding: 0;
  font-size: 80%;

  * {
    font-size: 100%;
  }

  .modal-header {
    background: $primary-color;
    color: #fff;
    padding: 0.6rem 1rem;
    h4 {
      font-size: 100%;
    }

    button {
      color: #fff !important;
    }
  }
  .modal-body {
    padding: 1rem;
  }
}
