#DashboardDesigner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 12px;

  @import '../../../node_modules/bootstrap/scss/functions';
  @import '../../../node_modules/bootstrap/scss/variables';
  @import '../../../node_modules/bootstrap/scss/mixins';
  @import 'variables';
  @import 'utilities';
  @import 'layout';
  @import 'icons';
  @import 'custom_style';

  //Overriding bootstrap Theme........
  $theme-colors: map-remove($theme-colors, 'info', 'dark');
  $theme-colors: (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'light': $light,
    'warning': $warning-color
  );

  $navbar-light-color: #212529;
  $navbar-light-hover-color: #6610f2;
  $navbar-light-active-color: #6610f2;
  $primary-color-rgb: red;

  @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
  @import 'app';
}
