/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/theme.scss';
@import '../dist/dashboard-designer/assets/dashboard-designer/dashboard-designer-theme.css';
body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // font-family: $font-family-normal;
  font-size: 1rem !important;
}
